<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Pagina Spring</title>

 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            


<style type="text/css">
form input[type=submit]{
	color : white;
}

form {
	margin-left: 35%;
	margin-top: 11%;
}

.col .row{
margin-right: 0rem;

}

</style>

</head>
<body>
	<form th:action="@{/login}" method="post" class="col s12">

		<h5>Acesso ao Sistema</h5>
		<div class="row">
			<div class="input-fiel col s6">
				<label>Login</label> 
				<input type="text" name="username" style="border-radius: 10px;" >
			</div>
		</div>
		<br>
		<div class="row">
			<div class="input-fiel col s6">
				<label>Senha</label> 
				<input type="password" name="password" style="border-radius: 10px;" >
			</div>
		</div>
		<div class="row">
		<div class="input-fiel col s6">
		<input name="Logar" type="submit" value="Logar" 
		class="waves-effect waves-light btn-small">
		
		</div>
		</div>

	</form>



</body>
</html>